* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

/* Defaults */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* SVG Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Sections default */

section:not(#hero) {
  width: 100%;
  padding: var(--section-padding) 0;
}

#features,
#portfolio,
#contact {
  background-color: var(--section-background);
}

/* Headers Default */

.sec-header {
  text-align: center;
  padding-bottom: var(--section-padding);
  grid-column: 1 / -1;
}

.sec-header h2 {
  color: #ebeced;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -3px;
  margin: 0;
}

.sec-header p {
  color: #797979;
  margin-top: -20px;
  font-size: large;
}

@media (min-width: 768px) {
  .sec-header h2 {
    font-size: 100px;
  }
  .sec-header p {
    margin-top: -30px;
  }
}

/* Start Header (All Screens) */

header:not(.sec-header) {
  width: 100%;
  padding: 15px 0;
  height: 60px;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > div {
  width: 65px;
}
header > .container > div > img {
  width: 100%;
}

nav {
  display: flex;
  position: relative;
  width: 30px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

nav span {
  width: 100%;
  height: 2.5px;
  background-color: var(--secondary-color);
}

nav .middle-line {
  width: 60%;
  transition: var(--main-duration);
}

nav:hover .middle-line {
  width: 100%;
}

nav ul {
  display: none;
  position: absolute;
  list-style: none;
  background-color: var(--section-background);
  top: calc(50% + 15px);
  width: 210px;
  padding-left: 0;
  margin: 5px 0;
}

nav ul::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 8px;
  border: solid 8px;
  border-color: transparent transparent var(--section-background) transparent;
}

nav ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 100%;
  padding: 15px;
  transition: var(--main-duration);
}

nav a:hover {
  transform: translateX(10px);
}

nav:hover ul {
  display: block;
}
/* End Header  */

/* Start Hero (All Screens)*/
#hero {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url(../Assets/images/landing.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero div {
  width: 320px;
}

#hero span {
  font-weight: 800;
  font-size: 48px;
  color: var(--main-color);
  display: block;
  text-align: center;
}

#hero h1 {
  font-size: large;
  font-weight: normal;
  line-height: 1.8;
  text-align: center;
}

/* End Hero */

/* Start Features(All Screens) */

#features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

#features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features span {
  font-size: 52px;
  height: 52px;
  color: var(--main-color);
}

#features h3 {
  font-weight: 800;
  padding: 15px;
  margin-bottom: 0;
}

#features p {
  line-height: 1.9;
  color: #333;
  text-align: center;
}

/* End Features */

/* Start Services (Small) */

#services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#services .image {
  display: none;
}

#services span {
  color: var(--main-color);
  font-size: 30px;
  height: 30px;
}

#services .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 258px;
}

.service h3 {
  padding: 10px 0;
  font-weight: 700;
}

.service p {
  margin-top: 0;
  color: #444;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #services .service {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;
  }
  #services .service .text {
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 0 20px;
  }
  #services h3 {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  #services .image {
    position: relative;
    display: block;
    width: 260px;
    height: 360px;
    justify-self: end;
    margin-right: 50px;
  }
  #services .image img {
    width: 100%;
    height: 100%;
  }
  #services .image::after {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: -50px;
    z-index: -1;
  }
}

/* End Services  */

/* Start Portfolio (All Screens) */

#portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

#portfolio .project {
  margin: 0;
}

#portfolio .project img {
  width: 100%;
}

#portfolio figcaption {
  padding: 10px;
  background-color: white;
}

#portfolio h3 {
  font-weight: 800;
  margin-bottom: 0;
}

#portfolio p {
  line-height: 1.5;
  color: #777;
}

/* End Portfolio */

/* Start About (mobile) */

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .image {
  width: 240px;
  height: 370px;
  position: relative;
}

#about img {
  width: 100%;
  height: 100%;
}

#about .text-column {
  padding: 50px 0;
  text-align: center;
}

#about .text-column p {
  line-height: 1.9;
  padding: 30px 0;
}

#about hr {
  width: 50%;
  border-color: var(--main-color);
}

#about .text-column p:first-child {
  font-weight: bold;
}
#about .text-column p:last-child {
  color: #777;
}

@media (min-width: 1200px) {
  #about .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  #about .sec-header {
    flex-basis: 100%;
  }
  #about .image {
    position: relative;
    display: inline-block;
  }
  #about .text-column {
    text-align: start;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
  }
  #about hr {
    margin-inline-start: 0;
  }
  #about .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  #about .image::after {
    content: "";
    position: absolute;
    top: -40px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
}

/* End About */

/* Start Contact */

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .sec-header {
  padding-bottom: 0;
}

#contact h3 {
  font-size: 28px;
  color: var(--secondary-color);
  font-weight: 900;
}

#contact a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 28px;
  font-weight: 900;
}

#contact p {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .icon {
  margin: 0 3px;
}
#contact .icon:first-child {
  margin-left: 6px;
}
@media (max-width: 767px) {
  #contact h3,
  #contact a {
    font-size: 22px;
  }
}

/* End Contact */

/* Start Footer */
footer {
  background-color: var(--secondary-color);
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
footer span {
  color: var(--main-color);
  font-weight: 900;
}

/* End Footer */
